<article class="notif-dropdown" id="notif-dropdown">
    <header class="notif-topo">
        <h3>Notificações</h3>
        <button class="notif-marcar-todas" id="notif-marcar-todas" type="button">Marcar todas como lidas</button>
    </header>

    <ul class="notif-lista" id="notif-lista">
        <% const listaNotificacoes = typeof notificacoes !== 'undefined' ? notificacoes : []; %>
        <% if (!listaNotificacoes.length) { %>
            <li class="notif-item">
                <p class="notif-texto">Você ainda não tem notificações.</p>
                <time class="notif-tempo">agora</time>
            </li>
        <% } %>
        <% listaNotificacoes.forEach((notificacao) => { %>
            <li class="notif-item <%= notificacao.lida ? '' : 'nova' %>" data-id="<%= notificacao.id_notificacao %>">
                <a href="<%= notificacao.link || '/sobre' %>" class="notif-link">
                    <p class="notif-texto"><%= notificacao.titulo %> - <%= notificacao.mensagem %></p>
                    <time class="notif-tempo"><%= notificacao.tempo %></time>
                </a>
            </li>
        <% }) %>
    </ul>

    <footer class="notif-rodape">
        <a href="/sobre">Ver detalhes</a>
    </footer>
</article>
